{% extends "template.html" %}
{% set active_page = "index" %}

{% block container %}
<div class="row m-2">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome to Ambience!</h2>
        <p>
          Ambience is a server for aggregating, searching and auditing the results from scans produced by the Aura project.
        </p>
      </div>
    </div>


    <ambience-stats></ambience-stats>

    <div class="row mt-2">
      <div class="col-md-12">
        <suspicious-packages></suspicious-packages>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <latest-scans></latest-scans>
  </div>

</div>
{% endblock %}
