<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ambience</title>
  <script src="https://kit.fontawesome.com/e8cebbd9ee.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7.3.0/dist/d3.min.js" integrity="sha256-afYoXSIFAhNwQKRFhrZkSrYswZBMUtSLJetWCKjDHzQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js" integrity="sha256-rtaseLgkmpx8/wAw87kh7p93HLFoQWTz5nnhAjpNXGk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
  {% set active_page = active_page | default("n/a") %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Ambience</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for menu_item in menu_items %}
        <li class="nav-item">
          <a class="nav-link {% if active_page == menu_item %}active{% endif %}" href="{{ menu_item.href }}">
            {% if menu_item.icon %}
              <i class="fa {{ menu_item.icon }}"></i>
            {% endif %}
            {{ menu_item.text }}
          </a>
        </li>
        {% endfor %}

        {% if g.user %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">
              <i class="fa fa-user"></i>
              {{ g.user.email }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li>
                <a class="dropdown-item" href="#">Log-out</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="fa fa-sign-in-alt"></i>
              Log-in
            </a>
          </li>
        {% endif %}
      </ul>

      <span class="navbar-text">by SourceCode.AI</span>
    </div>
  </nav>

  <div class="container-fluid mt-2 pb-2" id="app">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          {% for message in messages %}
            <div class="col-sm-12">
              <div class="alert alert-danger">{{ message }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block container %}
    {% endblock %}
  </div>

  {% block footer %}
  {% endblock %}

  <!--div class="container-fuild footer fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 m-4 border-top ">
      © 2021 SourceCode.AI, powered by Aura
    </footer>
  </div-->

  {% if not disable_app %}
    <script src="{{ url_for("aura_static", fname="aura.data.html_results.components.js") }}"></script>
    <script src="{{ url_for("static", filename="components.js") }}"></script>
    <script src="{{ url_for("static", filename="app.js") }}"></script>
  {% endif %}
</body>
</html>
